@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Desarrollar una aplicación que permita perfilar usuarios acorde a su historial laboral 
    donde se pueda consultar la información, puntuar a los usuarios y ver reseñas de su 
    desempeño laboral con la finalidad de usar la información para los procesos de selección 
    de personal esto incluye tanto la creación de la base de datos como la codificación de la 
    aplicación fomentando así la competencia laboral entre colaboradores y brindando a las 
    empresas un mejor punto de vista de los mismos.
</p>
