@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Christian Bernal Quintero</strong> <br />
    Instituto Tecnologico de Tijuana<br />
    Ingenieria en Sistemas Computacionales<br />
    <abbr title="Phone">Celular:</abbr>
    664 314 6699
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:christian.bernal@tectijuana.edu.mx">christian.bernal@tectijuana.edu.mx</a><br />
</address>

<address>
    <strong>Ivan Cabrera Reyes</strong> <br />
    Instituto Tecnologico de Tijuana<br />
    Ingenieria en Sistemas Computacionales<br />
    <abbr title="Phone">Celular:</abbr>
    664 419 7385
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:ivan.cabrera17@tectijuana.edu.mx">ivan.cabrera17@tectijuana.edu.mx</a><br />
</address>
