@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Buro Laboral</h1>
    <p class="lead">
        Desarrollar una aplicación que permita perfilar usuarios acorde a su historial laboral 
        donde se pueda consultar la información, puntuar a los usuarios y ver reseñas de su 
        desempeño laboral con la finalidad de usar la información para los procesos de selección 
        de personal esto incluye tanto la creación de la base de datos como la codificación de la 
        aplicación fomentando así la competencia laboral entre colaboradores y brindando a las 
        empresas un mejor punto de vista de los mismos.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Descripción de la Institución o empresa</h2>
        <p>
            Grupo CASPE y Asociados en Seguridad Privada S. de R.L. de C.V. es una empresa
            dedicada a proveer soluciones de seguridad privada a un costo accesible a pequeñas,
            medianas y grandes empresas asegurando la calidad en el servicio y el desempeño
            del personal provisto por la misma.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Introduccion</h2>
        <p>
            Se requiere el desarrollo de una aplicación que permita crear y guardar perfiles
            de personas, que contengan información sobre su historial laboral que podrá ser usado
            para procesos de selección y contratación de personal esto con la finalidad de
            corroborar la información de las personas y establecer un sistema de puntaje y/o
            reseñas que validen las buenas o malas prácticas de los colaboradores.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Justificacion</h2>
        <p>
            En la actualidad son múltiples las razones por las cuales una persona cambia de lugar
            de trabajo, y muchas veces es complicado confiar ciegamente en sus palabras.
            Esto propicia que las empresas acepten personal con malas prácticas generando pérdidas
            de tiempo y recursos para las mismas. Es por ello que plantea implementar una herramienta
            similar al buró de crédito en donde te evalúan en base a tu historial antes de otorgar
            algún beneficio de tal manera que se pueda tener un historial laboral de los colaboradores,
            reseñas por parte de los mismos.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>